# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/
# think of this as the build or dist folder for js files
static/js/*.bundle.js
# Flask stuff:
instance/
.webassets-cache
# DB
*.db
# Environments
.env
venv/
.vscode
# Node
node_modules