{% extends 'base.html' %}

{% block title %}Pizzeria | Finalize Order{% endblock %}

{% block content %}
<div class="container section content">
	{% if status == 'SUCCESS' %}
		<h2>Your order was sent succesfully!</h2>
		<hr>
		<p>I hope you enjoyed our services, see you next time!</p>
		<a class="button" href="{{ url_for('index') }}">Exit</a>
	{% elif status == 'ERROR' %}
		<h2>ERROR</h2>
		<hr>
		<p>There was a problem sending your order, do you want to try again?</p>
		<a class="button" href="{{ url_for('placeOrder') }}">Yes</a>&nbsp;<a class="button" href="{{ url_for('index') }}">Salir</a>
	{% endif %}
</div>
{% endblock %}