{% extends 'base.html' %}

{% block title %}Pizzeria | Order{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/place_order.css') }}">
{% endblock %}

{% block scripts_head %}
{% if config.ENV_MODE == 'DEV' %}
<!-- react development version -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
{% elif config.ENV_MODE == 'PRODUCTION' %}
<!-- react production version -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div id="app" class="container section"></div>
{% endblock %}

{% block scripts_footer %}
<!-- data from backend that is later assigned to the script below this one -->
<script>
  //var sizes = {{ sizes | safe }}
  var sizes = [];
  //var toppings = {{ toppings | safe }}
  var toppings = [];
</script>
<!-- the react app file will live here-->
<script type="module" src="{{ url_for('static', filename='js/place_order.js') }}"></script>
{% endblock %}